In [2]:
import pandas as pd
import numpy as np
agency_df = pd.read_csv("sncf_data/csv/agency.csv")
calendar_df = pd.read_csv("sncf_data/csv/calendar.csv")
calendar_dates_df = pd.read_csv("sncf_data/csv/calendar_dates.csv")
routes_df = pd.read_csv("sncf_data/csv/routes.csv")
stop_times_df = pd.read_csv("sncf_data/csv/stop_times.csv")
stops_df = pd.read_csv("sncf_data/csv/stops.csv")
transfers_df = pd.read_csv("sncf_data/csv/transfers.csv")
trips_df = pd.read_csv("sncf_data/csv/trips.csv")

In [3]:
print(agency_df.head())
print(agency_df.shape)

  agency_id agency_name               agency_url agency_timezone agency_lang
0     OCESN        SNCF  http://www.ter-sncf.com    Europe/Paris          fr
1     OCENI           -  http://www.ter-sncf.com    Europe/Paris          fr
(2, 5)

In [4]:
print(calendar_df.head())
print(calendar_df.shape)

   service_id  monday  tuesday  wednesday  thursday  friday  saturday  sunday  \
0        9939       1        1          1         1       0         0       0
1        8655       0        0          0         0       0         1       0
2        2341       0        0          0         0       0         1       0
3       12564       0        0          0         0       0         0       1
4       12565       0        0          0         0       0         1       0

   start_date  end_date
0    20200220  20200520
1    20200314  20200405
2    20200222  20200307
3    20200419  20200426
4    20200314  20200404
(5015, 10)

In [5]:
print(calendar_dates_df.head())
print(calendar_dates_df.shape)

   service_id      date  exception_type
0        9939  20200413               2
1        8655  20200418               1
2        8655  20200516               1
3       12563  20200425               1
4       12563  20200508               1
(38160, 3)

In [6]:
complete_cal = calendar_df.merge(calendar_dates_df, on="service_id")
print(complete_cal.shape)
print(complete_cal.head())

(35096, 12)
   service_id  monday  tuesday  wednesday  thursday  friday  saturday  sunday  \
0        9939       1        1          1         1       0         0       0
1        8655       0        0          0         0       0         1       0
2        8655       0        0          0         0       0         1       0
3       12567       0        1          1         1       0         0       0
4       12567       0        1          1         1       0         0       0

   start_date  end_date      date  exception_type
0    20200220  20200520  20200413               2
1    20200314  20200405  20200418               1
2    20200314  20200405  20200516               1
3    20200220  20200519  20200414               2
4    20200220  20200519  20200430               2

In [102]:
#print(routes_df.head())
#print(routes_df.isna().any())
print(routes_df.columns)
print(routes_df.shape)
print(routes_df[routes_df["route_id"] == "OCE1021888"])
print(routes_df.groupby("agency_id").agg(np.size))
#pokemon_games =  routes_df.loc[routes_df['route_long_name'].str.contains("Gare de", case=True)]["route_long_name"]
#print(pokemon_games)

Index(['route_id', 'agency_id', 'route_short_name', 'route_long_name',
       'route_desc', 'route_type', 'route_url', 'route_color',
       'route_text_color'],
      dtype='object')
(712, 9)
       route_id agency_id  route_short_name  \
506  OCE1021888     OCESN               NaN

                            route_long_name  route_desc  route_type  \
506  PARIS-DIJON - MULHOUSE - TER GRAND EST         NaN           2

     route_url  route_color  route_text_color
506        NaN          NaN               NaN
           route_id  route_short_name  route_long_name  route_desc  \
agency_id
OCENI             1                 1                1           1
OCESN           711               711              711         711

           route_type  route_url  route_color  route_text_color
agency_id
OCENI               1          1            1                 1
OCESN             711        711          711               711

In [98]:
print(trips_df.columns)
route_trip = routes_df.merge(trips_df, on="route_id")
print(route_trip.columns)

#print(route_trip[["trip_id", "route_id"]])
rr = route_trip[route_trip["trip_id"] == "OCESN839553F4704738345"][["trip_id","route_id"]]
print(rr.head())
print(route_trip.groupby("route_id")["trip_id"].agg(np.size))

Index(['route_id', 'service_id', 'trip_id', 'trip_headsign', 'direction_id',
       'block_id', 'shape_id'],
      dtype='object')
Index(['route_id', 'agency_id', 'route_short_name', 'route_long_name',
       'route_desc', 'route_type', 'route_url', 'route_color',
       'route_text_color', 'service_id', 'trip_id', 'trip_headsign',
       'direction_id', 'block_id', 'shape_id'],
      dtype='object')
                      trip_id    route_id
16750  OCESN839553F4704738345  OCE1021888
route_id
OCE1                        88
OCE10                       15
OCE1021888                 227
OCE1045887                  45
OCE1081893                   2
                          ...
OCESN-87773002-87783241      1
OCESN-87781104-87611004      3
OCEZW-87543165-87576215     15
OCEZW-87576025-87543165     13
OCEZW-87576025-87576215     15
Name: trip_id, Length: 712, dtype: int64

In [69]:
#print(trips_df.head())
#print(trips_df.shape)
print(trips_df[trips_df["trip_id"] == "OCESN839134F0400438032"])

        route_id  service_id                 trip_id  trip_headsign  \
17397  OCE701648        7717  OCESN839134F0400438032         839134

       direction_id  block_id  shape_id
17397             0       NaN       NaN

In [ ]:
trip_cal = trips_df.merge(complete_cal, on="service_id")
print(trip_cal.head())
print(trip_cal.shape)

In [ ]:
trip_cal_route = trip_cal.merge(route_agen,on="route_id")
print(trip_cal_route.head())
print(trip_cal_route.shape)

In [ ]:
trip_cal_route_stop = trip_cal_route.merge(stops_complete, on="trip_id")
print(trip_cal_route_stop.head())
print(trip_cal_route_stop.shape)

In [ ]:
print(trip_cal_route_stop.columns